<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Frontsound Signage &trade;</title>
  <script src="js/jquery-1.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="js/jquery.rss.js"></script>
  <script src="js/ticker.min.js"></script>
  <link rel="stylesheet" href="css/style.css">


</head>

<body>
  {{{body}}}
</body>

</html>