<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Frontsound Signage &trade;</title>
  <script src="js/jquery-1.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="js/jquery.rss.js"></script>
  <script src="js/ticker.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/ticker.min.css"> <!-- https://www.jqueryscript.net/animation/jQuery-Plugin-Scrolling-Elements-Ticker.html -->
  <link rel="stylesheet" href="lib/videojs/video-js.min.css"> <!--  v7.5.0 downloaded locally as the app is made for use without internet in longer periods of time -->
  <script src="lib/videojs/video.min.js"></script>
    


</head>

<body>
  {{{body}}}
</body>

</html>