<form method="POST" action="/">
  <div>
    <label for="recipient">Recipient:</label>
    <input type="text" id="recipient" name="recipient">
  </div>
  <div>
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>