<script>
//https://www.jqueryscript.net/animation/jQuery-Plugin-Scrolling-Elements-Ticker.html ticker source
  window.setInterval(rssUpdate, 3600000);

  function rssUpdate() {
    jQuery(function ($) { // Using https://github.com/sdepold/jquery-rss
    $("#rss-feed").rss("{{{feed}}}",
      {
        layoutTemplate: "<div class='default-ticker vertical-center'> {entries} </div>",
        entryTemplate: "<div class='feed-text'> {title} <span class='bullet'> &#8226; </span></div>",
        host: 'feedrapp.info',
        limit: 10,
        success: function() {
          $(".default-ticker").ticker({speed: 200});
        }
      })
  })
  }

  rssUpdate();
</script>



<div id="wrapper">

  <div id="video-wrapper"> 
 <!-- TODO: LOGO UPDATE -->
<video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{ "controls": false, "autoplay": true, "loop": true, "fluid": true}'>
  <source src="videos/video.mp4" type="video/mp4"></source>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>
</div>

  <div id="rss-feed"></div>
  <div id="bar"></div>
</div>
