#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  overflow:hidden;
}

#bar {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  z-index: 10;
}

#rss-feed {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 100000;
  text-align: left;
  float: left;
  margin-left: 0px;
  padding-left: 0px;
}

body {
  margin: 0;
  padding: 0;
}

.vertical-center {
  vertical-align: middle;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}

#news {
  animation: marquee 20s linear infinite;
  
}

#second-news {
  animation: marquee2 60s linear infinite;
  animation-delay: 30s;
}

.continous {
  display: inline-block;
  background-color: #90C !important;  
  width: auto;
  overflow: visible;
  text-align: left;
  float: left;
  margin-left: 0px;
  padding-left: 0px;
}


.bullet {
  margin-left: .5%;
  margin-right: .5%;
}


.feed-text {
font-family: Arial, Helvetica, sans-serif;
font-size: 2em;
color: white; 
vertical-align: middle;
}


@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
